In [1]:
#Python 3.8.4 64-bit

import numpy as np
import pandas as pd
import pandas_datareader.data as web
import datetime as datetime

dt_now = datetime.datetime.now()
ly = dt_now.year
lm = dt_now.month
ld = dt_now.day

#codejp = input(int())
codejp = "1306"
stockcode = codejp+".JP"

In [2]:
import defmakedf

madedf = defmakedf.mdfmake(codejp, 2009, 3)
madedf.head()

end

,1306JP2009-03,1306JP2009-04,1306JP2009-05,1306JP2009-06,1306JP2009-07,1306JP2009-08,1306JP2009-09,1306JP2009-10,1306JP2009-11,1306JP2009-12,...,1306JP2021-09,1306JP2021-10,1306JP2021-11,1306JP2021-12,1306JP2022-01,1306JP2022-02,1306JP2022-03,1306JP2022-04,1306JP2022-05,1306JP2022-06
0,751.0,821.0,871.0,938.0,956.0,966.0,977.0,910.0,895.0,871.0,...,2042.0,2064.0,2126.0,2013.0,2122.0,1976.0,1977.5,2047.5,1998.0,2044.5
1,744.0,851.0,910.0,942.0,951.0,969.0,957.0,891.0,894.0,872.0,...,2043.0,2055.0,2113.0,2003.0,2125.0,2015.0,1938.5,2058.5,2017.5,2031.5
2,748.0,857.0,918.0,941.0,946.0,956.0,950.0,880.0,887.0,901.0,...,2081.0,2025.0,2136.0,2037.0,2082.0,2000.0,1958.5,2054.0,1978.0,2038.5
3,758.0,856.0,926.0,938.0,938.0,966.0,942.0,883.0,888.0,904.0,...,2106.0,2018.0,2121.0,2025.0,2078.0,2012.0,1920.5,2023.5,1964.0,2044.0
4,738.0,861.0,913.0,943.0,918.0,965.0,953.0,897.0,882.0,913.0,...,2127.0,2015.0,2119.0,2071.5,2072.0,2006.5,1869.0,1992.5,1950.5,2051.0

In [3]:
returndf = defmakedf.mdfreturn(codejp, 2009, 3)
returndf.head()

end

,1306JP2009-03,1306JP2009-04,1306JP2009-05,1306JP2009-06,1306JP2009-07,1306JP2009-08,1306JP2009-09,1306JP2009-10,1306JP2009-11,1306JP2009-12,...,1306JP2021-10,1306JP2021-11,1306JP2021-12,1306JP2022-01,1306JP2022-02,1306JP2022-03,1306JP2022-04,1306JP2022-05,1306JP2022-06,1306JP2022-07
0,751.0,821.0,871.0,938.0,956.0,966.0,977.0,910.0,895.0,871.0,...,2064.0,2126.0,2013.0,2122.0,1976.0,1977.5,2047.5,1998.0,2044.5,1946.5
1,744.0,851.0,910.0,942.0,951.0,969.0,957.0,891.0,894.0,872.0,...,2055.0,2113.0,2003.0,2125.0,2015.0,1938.5,2058.5,2017.5,2031.5,1974.0
2,748.0,857.0,918.0,941.0,946.0,956.0,950.0,880.0,887.0,901.0,...,2025.0,2136.0,2037.0,2082.0,2000.0,1958.5,2054.0,1978.0,2038.5,1983.5
3,758.0,856.0,926.0,938.0,938.0,966.0,942.0,883.0,888.0,904.0,...,2018.0,2121.0,2025.0,2078.0,2012.0,1920.5,2023.5,1964.0,2044.0,1959.5
4,738.0,861.0,913.0,943.0,918.0,965.0,953.0,897.0,882.0,913.0,...,2015.0,2119.0,2071.5,2072.0,2006.5,1869.0,1992.5,1950.5,2051.0,1940.0

In [36]:
len(madedf.columns)

160

In [39]:
mname = []
mnum = []
stmonth = []
nxrt1a = []
nxrt  =  []

# from 0 to 156   #200903-202204
for i in range(1,len(returndf.columns)):
    month = returndf.columns[i-1] + ">" + returndf.columns[i]
    startmonth = returndf.columns[i-1] 
    premonthdays = len(returndf[returndf.columns[i-1]].dropna())-1
    postmonthdays = len(returndf[returndf.columns[i]].dropna())-1
    prelastprice = returndf[returndf.columns[i-1]][premonthdays]
    postlastprice = returndf[returndf.columns[i]][postmonthdays]
    retans = (postlastprice/prelastprice)-1



    mname.append(month)
    mnum.append(i)
    stmonth.append(startmonth)
    nxrt.append(retans*100)
    print(i)
print('nxrtend')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
nxrtend

In [40]:
returns = pd.DataFrame()
returns["mname"] = stmonth
returns["mnum"] = mnum
returns["nxrt"] = nxrt
returns.tail()

             mname  mnum      nxrt
154  1306JP2022-01   155 -0.329364
155  1306JP2022-02   156  4.168785
156  1306JP2022-03   157 -2.391410
157  1306JP2022-04   158  0.750000
158  1306JP2022-05   159 -2.009926

In [16]:
fiveplus  = returns[returns["nxrt"]>5]
mnames = list(fiveplus["mnum"])

[1,
 8,
 11,
 19,
 34,
 38,
 43,
 44,
 45,
 47,
 48,
 53,
 55,
 62,
 67,
 70,
 73,
 78,
 90,
 91,
 102,
 113,
 125,
 133,
 136,
 139,
 143]